.variable-display {
  display: inline-block;
  height: 60px; }

.variable-value {
  color: lime;
  display: inherit;
  font-size: 50px; }

.variable-units {
  color: navy;
  display: inherit;
  font-size: 24px;
  padding-left: 5px;
  padding-right: 20px; }
